

@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@300;500&family=Roboto:wght@100;300&display=swap');
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
html{
    font-family:'Poppins', sans-serif;
}
a{
    text-decoration: none;
}


/*TOP BAR*/
.top-bar{
    background-color: #1e1e1e;
    height:59px;
}
.top-bar p{
    font-size: 10px;
    padding-top: 24px;
    padding-bottom: 28px;
    height:59px;
    letter-spacing: 2px;
}
.top-bar .close{
    top:21px;
    right: 0;
    bottom: 26px;
}

    
/*MAIN HEAER*/
.eveland{
    letter-spacing: 4px;
}
.main-header{
    background-color: #f1f1f1; 
    
}
.nav-link-color{
    color: rgb(51, 51, 51);
    font-weight: 500;
}
.badge-quantity{
    height: 24px;
    width: 24px;
    top:-11px;
    right:-15px;
}
.me-40{
    margin-right: 40px;
}
.me-35{
    margin-right:35px;
}
.me-44{
    margin-right: 44px;
}.me-17{
    margin-right: 17px;
}
/*SECTION HOME*/
.home{
    background-image: url(img/Rectangle-4-copy-3.jpg);
    background-color: #f1f1f1; 
    min-height:508px;
    background-size: cover;
    background-position:center right;
    background-repeat: no-repeat;
    margin-top: -75px;
}
.home h1{
    font-size: 59.75px;
    font-weight: 400;
}

.home .container{
    min-height: 508px;
}
#price{
    width: 100%;
}
.home .divider{
    width: 74px;
    height: 2px;

}
/*SECTION COLLECTION*/

.collection h3{
    font-size: 14px;
}
.collection .nav-link{
    
    text-transform: capitalize;
}
.text-dark-grey{
    color: #868686;
}
.size-item{
    width: 40px;
    height: 40px;
    border:1px solid #b0b0b0;
    line-height: 40px;
    text-align: center;
    color:#b0b0b0;
    margin:0 10px;
    font-weight: 500;
}
.size-item:hover,.size-item:active,.size-item:focus{
    background-color: #48c8fd!important;
    border-color: #48c8fd;
    color: #fff;
}
.range {
    -webkit-appearance: none;
    width: 100%;
    height: 2px; 
    background:#000000;
    outline: none;
}
  
.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%; 
    background: #48c8fd;
    cursor: pointer;
} 
.range-color{
    color: #8b8b8b;
    font-size: 14px;
} 
.mt-39{
    margin-top: 39px;
}
.fs-24{
    font-size: 24px!important;
}

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: smaller!important;
    width: 24px;
    height: 24px;
    padding: 2px;
    background-clip: content-box;
    border: 1px solid #b4b4b4;
    border-radius: 50%;
    cursor: pointer;
  }
  .form-check-input:checked[type=radio] {
      background-image: none;
  }

#light-brown{ 
    background-color: #dc8e6a;
}
#violet{
    background-color: #b36cd4;
}
#light-blue{
    background-color: #6adcd8;
}
#brown-black{
    background-color: #371d11;
}
#grey{
    background-color: #e7e7e7;
}
#dark-blue{
    background-color: #6ab2dc;
}
#dark{
    background-color: #000;
}
#light-red{
    background-color: #e85757;
}

input[type=radio]:checked,input[type=radio]:active{
    box-shadow: none!important;
    border-color: #000;
}
.collection .nav-link-primary:hover,.nav-link-primary:active,.nav-link-primary:focus{
    color: #48c8fd!important;
}
.collection .nav-link-primary:hover >.fa,.nav-link-primary:active > .fa,.nav-link-primary:focus > .fa{
    color: #48c8fd!important;
}
.collection .text-secondary-light{
    color: #d4d4d4;
}
.collection .col-lg-3 h3{
    color:#010101 ;
}
.btn-hover{
    color:#b0b0b0!important;
    border-color: #b0b0b0 !important;
}
.btn-hover:hover, .btn-hover:active, .btn-hover:focus{
    background-color: #48c8fd!important;
    border-color: #48c8fd!important;
    -webkit-box-shadow: none!important;
            box-shadow: none!important;
    color: #fff!important;
}
.btn-popularity{
    width: 233px;
    margin-left: 36px;
    border-color: #e0e0e0;
}
.pour-2{
    margin: 0 20px;
}
.mt-40{
    margin-top: 40px;
    margin-left: 40px!important;
}
.mt-27{
      margin-top: 27px;
}
.mt-15{
    margin-top: 15px;
}
div.mt-15{
    color:#a6a6a6;
}
.fw-500{
    font-weight: 500;
}
.spring {
    margin-left:20%;
    margin-top:-90%;  
}
.shop-now{
    max-width: 320px;
    min-height: 483px;
    
}
.shop_now{
    letter-spacing: 2px;
    border-bottom: 2px solid #fff;
    max-width: 97px;
}
.icon-svg svg:first-child{
    margin-right:20px;
}
.number{
    margin-left:35px;
}
.number-item{
    width: 36px;
    height: 36px;
    line-height: 36px;
    border: 1px solid #c0c0c0;
    color: #c0c0c0;
    margin-right: 10px;
    font-size: 14px;
}
.number-item:hover{
    background-color:rgb(241, 241, 241);
    border-color: transparent;
    color:#000;
    font-weight: bold;
}
.Men{
    margin-top: 146px;
}
.shop-3{
    margin-top: 130px;
}

.shop-4 .slick-dots li:first-child button{
    background-color:#000000 ;
}
.shop-4 .slick-dots li:nth-child(2) button{
    background-color: #39b8b6 ;
}
.shop-4 .slick-dots li:last-child button{
    background-color: #ff2659;
}
.shop-4 .slick-dots{
    top: 500px;
}
.Bestseller-shop .slick-dots{
    top:500px;
}
.slick-initialized .slick-slide{
    margin: 0 20px;
    
}
.slick-dots{
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    list-style: none;
    position: absolute;
    top: 410px;
    right:50%;
}
.slick-dots li:nth-child(2){
    margin: 0 16px;
}
.slick-slide img{
    
    object-fit: cover;
}
/* .slick-slider{
    height: 500px!important;
} */
.slick-dots button{
    font-size:0;
    height: 12px;
    width: 12px;
    background: #cfcfcf;
    border: none;
    outline: none;
    border-radius: 50%;
}
.slick-dots .slick-active button{
    background-color: #000;
}
.shop-3 .slick-dots button{
    height: 0;
    width: 0;
}

.Bestseller{
    margin-top:115px;
}
.page-link-border{
    border-color:#c1c1c1 ;
    color: #c1c1c1;
    
}
.page-link-border:hover,.page-link-border:active,.page-link-border:focus{
    border-color: #000;
    color: #000;
    background-color: #fff!important;
}

/*FOOTER*/
footer{
    background-color: #161616;
    
}
footer h3{
    margin-top:70px;
    letter-spacing: 2px;
    word-spacing: 1px;
}
footer .col hr{
    background-color: #fff;
    width:55px;
}
.fs-14{
    font-size: 14px;
}
.text-light-white{
    color: #868686;
}
 .social-icon{
     background-color: #222;
     width: 46px;
     height: 45px;
 }
 .social-icon:hover{
     background-color:rgb(237, 229, 229);
     color: #222!important;
 }
footer .w-55{
    width: 55px;
}
footer .col-md-4 hr{
    background-color: #48c8fd;
    height: 2px;
}

footer >hr{
    background-color: #2a2a2a;
}
footer .container:last-child{
    height:76px;
}
